<p id="notice"><%= notice %></p>

<h1>MasterControl Users</h1>

<div class="table-responsive">
  <table class="table table-hover table-striped table-condensed table-bordered">
    <thead>
      <tr>
        <th>Email</th>
        <th>Kaizens</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to "#{user.email}@mastercontrol.com", user %></td>
          <td><%= user.kaizens.size %></td>
          <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-success btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
